# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

#log
*.txt
/treasurehunt-314717-40eb1793a198.json

# Other
src/main/resources/
src/main/webapp/


